/* .webtoon-container{
    display: flex;
} */



/* Responsive Media Queries */

/* Mobile First Approach (Default Styles for Mobile) */
@media (max-width: 768px) {
    .webtoon-container {
        display: block;
        padding: 10px;
    }

    .webtoon-container div {
        margin-bottom: 20px;
        text-align: center;
    }

    img {
        max-width: 100%;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

/* Tablet View */
 @media (min-width: 768px) and (max-width: 1024px) {
    .webtoon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .webtoon-container div {
         
        margin-bottom: 20px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
} 

/* Desktop View */
 @media (min-width: 1024px) {
    .webtoon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .webtoon-container div {
         
        margin-bottom: 20px;
    }

  

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
} 

