.webtoon-container{
    display: flex;
}


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



/* h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
} */

/* Image Styles */
/* img {
    width: 100%;
    height: auto;
    max-width: 300px;
    display: block;
    margin-bottom: 20px;
} */

/* Flexbox for layout */
/* .webtoon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
} */

/* Responsive Media Queries */

/* Mobile First Approach (Default Styles for Mobile) */
@media (max-width: 768px) {
    .webtoon-container {
        display: block;
        padding: 10px;
    }

    .webtoon-container div {
        margin-bottom: 20px;
        text-align: center;
    }

    img {
        max-width: 100%;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

/* Tablet View */
 @media (min-width: 768px) and (max-width: 1024px) {
    .webtoon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .webtoon-container div {
         
        margin-bottom: 20px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
} 

/* Desktop View */
/* @media (min-width: 1024px) {
    .webtoon-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .webtoon-container div {
        width: 30%; 
        margin-bottom: 20px;
        display: flex;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
} */
