/* Basic styling for navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 0%;
  }
  
  .navbar-logo h2 {
    color: #fff;
    margin: 0;
  }
  
  /* Navbar links styling */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 2rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f39c12;
    border-bottom: #f39c12;
  }
  
  /* Hamburger icon for mobile */
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.3s;
  }
  
  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  
  /* Mobile view (hamburger icon and vertical menu) */
  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }
  
    .nav-links {
      position: absolute;
      top: 53%;
      left: -113%;
      width: 40%;
      height: 40vh;
      background-color: #333;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: left 0.3s ease-in-out;
    }
  
    .nav-links.active {
      left: 0;
    }
  
    .nav-links li {
      margin: 1rem 0;
    }
  
    .nav-links a {
      font-size: 1rem;
    }
  }
  